<web-app id = "WebApp_ID" version = "2.4"
         xmlns = "http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "http://java.sun.com/xml/ns/j2ee 
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Spring MVC Application</display-name>

    <servlet>
        <servlet-name>model</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>model</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <!--<servlet>
        <servlet-name>application</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet-mapping>
        <servlet-name>application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>-->

<!--<servlet>
        <servlet-name>model</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>model</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>-->

   <!-- <servlet>
        <servlet-name>model</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>equipement</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>simpleproj</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>database</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>HelloWeb</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>model</servlet-name>
        <url-pattern>/model/*</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>equipement</servlet-name>
        <url-pattern>/equipement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>simpleproj</servlet-name>
        <url-pattern>/simpleproj/hello_world.html</url-pattern>
        <url-pattern>/simpleproj/list_cars.html</url-pattern>
    </servlet-mapping>
   
   
    <servlet-mapping>
        <servlet-name>HelloWeb</servlet-name>
        <url-pattern>/hello/</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>database</servlet-name>
        <url-pattern>/database/index</url-pattern>
        <url-pattern>/database/create</url-pattern>
        <url-pattern>/database/drop</url-pattern>
    </servlet-mapping>-->
 
</web-app>